<div class="row">
  <div class="jumbotron">
    <h4>Name: <i><%= @contact.name_formatted() %></i></h4>
    <h4>Job Title: <i><%= @contact.job_title() %></i></h4>
    <h4>Company: <i><%= @contact.company() %></i></h4>

    <% if @contact.address().length() > 1  %>
      <h3>Address</h3>
      <% @contact.address().each() do |address| %>
        <h4><%= address.type() %> : <i><%= address.address_formatted()%></i></h4>
      <% end %>
    <% end %>

    <% if @contact.phone().length() > 1  %>
      <h3>Phone Number</h3>
      <% @contact.phone().each() do |phone| %>
        <h4><%= phone.type() %> : <i><%= phone.phone_formatted() %></i></h4>
      <% end %>
    <% end %>

    <% if @contact.email().length() > 1  %>
      <h3>Email</h3>
      <% @contact.email().each() do |email| %>
        <h4><%= email.type() %> : <i><%= email.email_address() %></i></h4>
      <% end %>
    <% end %>
    
   </div>
</div>
